{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<ul class="nav">
    {% if user.is_authenticated %}
     <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
        </li>

    {% else %}
    {% if request.path != '/auth/login/' %}
    <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
    {% if request.path != '/signup/' %}
    <li class="nav-item">
            <a class="nav-link active" href="{% url 'signup' %}">Signup</a>
        </li>
    {% endif %}
    {% endif %}



</ul>
{% if user.is_authenticated %}
<h1>Hi {{ user.username }}!</h1>
{% endif %}



{% endblock content %}



